<!-- Call to action Start -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>I create delightful digital experiences.</h2>
              <p>Judge for yourself the work and results I've achieved, if you're interested please contact me to learn more.</p>
              <a class="btn btn-default btn-call-to-action" href="contact.html" >Tell Me Your Story</a>
            </div>
          </div>
        </div>
      </div>
    </section>