<!-- Content Start -->
    <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center">
            <h2>Fun Facts About Me</h2>
            <p>Below are some fun metrics about me and my windy life journey</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="ion-ios-game-controller-a-outline"></i>
                    <h4 class="counter">864</h4>
                    <span>Logged Hours in FromSoftware Games</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-film-outline"></i>
                    <h4 class="counter">1720</h4>
                    <span>Movies Owned</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-heart-outline"></i>
                    <h4 class="counter">2020</h4>
                    <span>Marriage Anniversay</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-basketball-outline"></i>
                    <h4 class="counter">62</h4>
                    <span>Sporting Events Attended</span>
                  </div>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <img src="img/cotation.png" alt="IMG">
                    <p>"James was an excellent colleague and a superb technical asset to the team. James is the unsung hero on the team to go to when you needed support, help, or to get a complex project over the finish line. He is knowledgeable, technically savvy, and always able to dig on and solve a problem, and also a great asset to his colleagues. I would work with James again in a second."</p>
                    <div class="user">
                      <img src="img/Lwalker.jpeg" alt="Pepole">
                      <p><span>Lindsay Walker</span> Program Manager</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>" He has excellent technical ability and can handle a diverse and varied set of needs at the same time. His passion for education and good documentation reverberates in his work, always willing to share knowledge while giving space for others to learn and be empowered."</p>
                    <div class="user">
                      <img src="img/paloma.jpeg" alt="Pepole">
                      <p><span>Paloma Oliveira</span> Growth Engineer, FOSS Advocate</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>