<!-- Slider Start -->
    <section id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-2">
            <div class="block">
              <h1 class="animated fadeInUp">WELCOME TO MY CORNER OF THE INTERNET</h1>
              <p class="animated fadeInUp">I'm James, a passionate technical writer, developer, and multimedia enthusiast. Here, you'll find a showcase of my projects. I appreciate your time and interest.</p>
            </div>
          </div>
        </div>
      </div>
    </section>