<!-- POST HTML -->
<article id="post">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Title -->
                <h1>Litepaper</h1>

                
                   <!-- Preview Image -->
                   <img class="img-responsive" src="img/portfolio/ic-new-logo.png" alt="Time is an illusion. Lunchtime doubly so.">
                
                

                <hr>
                
                
                <h2>Coming Soon!</h2>
                
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Note about the Samples</h4>
                    <p>Due to the proprietary nature of the content, contributing authors may have updated some of the content mentioned on this page. However, I handled the initial creation and maintenance.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
</article>