<!-- POST HTML -->
<article id="post">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Title -->
                <h1>Training and Curriculum Development</h1>

                
                   <!-- Preview Image -->
                   <img class="img-responsive" src="img/portfolio/nginx-new-logo.png" alt="Time is an illusion. Lunchtime doubly so.">
                
                

                <hr>
                
                
                <p>NGINX (now F5 Networks) is a leading provider of open-source software for web serving, reverse proxying, caching, load balancing, media streaming, and more. Originally created as a high-performance web server, NGINX has evolved into a comprehensive application delivery platform used by some of the world's busiest websites.</p>

                <p>As a Senior Technical Trainer, I spearheaded the modernization of our lab environments using cloud technologies, significantly enhancing scalability and accessibility. By leveraging developer-friendly tools such as reveal.js and adopting git flow methodologies, I facilitated Subject Matter Experts (SMEs) in contributing to the accuracy and relevance of our training materials.</p>

                <p>My focus on creating engaging lecture content and interactive sessions not only enriched the learning experience but also ensured the longevity and effectiveness of our training programs, which continue to be utilized today.</p>

                <p>Below are some examples of a courses I wrote while at NGINX, but the content is now deprecated. </p>
                    <ul>
                        <li><a href="/elearning/nginx-advanced-lb/index.html" target="_blank">Advanced Load Balancing</a></li>
                        <li><a href="/elearning/nginx-advanced-caching/index.html" target="_blank">Advanced Caching</a></li>
                    </ul>

                    </br>
                <p>The slides contain minimal text and focus on guiding students through the process of implementing advanced cache controls and load balancing configurations for their NGINX implementations.</p>

                <hr>
                
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Note about the Samples</h4>
                    <p>Due to the proprietary nature of the content, contributing authors may have updated some of the content mentioned on this page. However, I handled the initial creation and governance.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
</article>