<!-- POST HTML -->
<article id="post">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Title -->
                <h1>Photography and Editing</h1>

                
                   <!-- Preview Image -->
                   <!-- <img class="img-responsive" src="img/portfolio/sl-new-logo.png" alt="Time is an illusion. Lunchtime doubly so."> -->
                
                

                <hr>

                <!-- Post Content -->
                
                <!-- <p class="lead">If there is a lesson to be learned, it is the futility of seeking fulfillment in outer space. We need to judge ourselfs by who we are, not by where we go.</p> -->
                
                
                <h2> Coming Soon! </h2>

                <hr>
                
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <!-- <div class="col-md-4"> -->

                <!-- Side Widget Well -->
                <!-- <div class="well">
                    <h4>Note about the Samples</h4>
                    <p></p>
                </div> -->

            <!-- </div> -->

        </div>
        <!-- /.row -->
    </div>
</article>