 <!-- Portfolio Start -->
    <section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <div class="portfolio-menu">
                    <ul>
                        <li class="filter" data-filter="all">Everything</li>
                        <li class="filter" data-filter=".Writing">Technical Writing</li>
                        <li class="filter" data-filter=".Development">Development</li>
                        <li class="filter" data-filter=".Photography">Photography</li>
                        <li class="filter" data-filter=".Multimedia">Multimedia</li>
                    </ul>
                  </div>
                  <div class="portfolio-contant">
                    <ul id="portfolio-contant-active">
                        <li class="mix Writing">
                          <a href="sauce.html">
                            <img src="img/portfolio/sauce-logo.jpeg" alt="">
                            <div class="overly">
                              <div class="position-center">
                                <h2>Sauce Labs</h2>
                                <p>Documentation </p>
                                
                              </div>
                            </div>
                          </a>
                      </li>
                      <li class="mix Writing">
                        <a href="nginx.html">
                          <img src="img/portfolio/nginx-logo.jpeg" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>NGINX</h2>
                              <p>ELearning Content </p>
                              
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="mix Writing">
                        <a href="icn.html">
                          <img src="img/portfolio/ic-logo3.png" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>Impossible Cloud</h2>
                              <p>Litepaper </p>
                              
                            </div>
                          </div>
                          
                        </a>
                      </li>
                      <li class="mix Photography">
                        <a href="photography.html">
                          <img src="img/portfolio/photo.png" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>Photography Portfolio</h2>
                              <p>Portraits and Family Photography </p>
                              
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="mix Multimedia">
                        <a href="multimedia.html">
                          <img src="img/portfolio/vimeo.png" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>Multimedia</h2>
                              <p>Videography and Visual Effects </p>
                              
                            </div>
                          </div>
                        </a>
                      </li>
                      <li class="mix Development">
                        <a href="https://github.com/Tacktician">
                          <img src="img/portfolio/github-logo.png" alt="">
                          <div class="overly">
                            <div class="position-center">
                              <h2>Dev Projects</h2>
                              <p>GitHub Profile </p>
                              
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>