<!-- POST HTML -->
<article id="post">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Title -->
                <h1>Documentation and DocOps</h1>

                
                   <!-- Preview Image -->
                   <img class="img-responsive" src="img/portfolio/sl-new-logo.png" alt="Time is an illusion. Lunchtime doubly so.">
                
                

                <hr>

                <!-- Post Content -->
                
                <!-- <p class="lead">If there is a lesson to be learned, it is the futility of seeking fulfillment in outer space. We need to judge ourselfs by who we are, not by where we go.</p> -->
                
                
                <p>Sauce Labs is a SaaS company that provides continuous testing solutions. They specialize in cloud-based automated testing for web and mobile applications.</p>

                <p>During my tenure at Sauce Labs, I excelled as a Senior Technical Content Writer before transitioning into the role of a DevOps Engineer specializing in DocOps and implementing docs-as-code solutions. In these positions, I had the privilege of crafting and maintaining comprehensive documentation that empowers developers and testers worldwide.</p>

                <p> My work includes creating actionable documentation that provides clear and concise guidance on utilizing Sauce Labs' robust SaaS platform, as well as developing detailed longform content that delves into the intricacies of the APIs and CLI tools.</p>

                <p>I touched or edited virtually every page of the <a href="docs.saucelabs.com" target="_blank">docs site</a>, but below are some work samples.</p>

                <h2>Tutorials & Guided Content</h2>
                        <ul>
                            <li><a href="https://docs.saucelabs.com/api-testing/import-export-tests/" target="_blank">API Testing: Importing & Exporting Tests</a></li>
                            <li><a href="https://docs.saucelabs.com/web-apps/automated-testing/playwright/quickstart/" target="_blank">Playwright Quickstart Guide</a></li>
                            <li><a href="https://docs.saucelabs.com/dev/cli/saucectl/usage/ci/github-actions/" target="_blank">Sauce Labs CLI Documentation: GitHub Actions Integration</a></li>
                        </ul>

                        <h2>Longform Content</h2>
                        <ul class="animated fadeInUp">
                            <li><a href="https://docs.saucelabs.com/dev/api/jobs/" target="_blank">Sauce labs API Documentation: Job Method</a></li>
                            <li><a href="https://docs.saucelabs.com/web-apps/automated-testing/selenium/" target="_blank">Automated Testing with Selenium on Sauce Labs</a></li>
                        </ul>

                <hr>
                
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Note about the Samples</h4>
                    <p>Due to the docs platform’s open-source nature, contributing authors may have updated some of the samples mentioned on this page. However, I handled the initial creation and maintenance.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
</article>

   

    
  
<!-- Call to action Start -->
    <!-- <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>We design delightful digital experiences.</h2>
              <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
              <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->