<!-- POST HTML -->
<article id="post">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- Title -->
                <h1>Videography and Editing</h1>

                
                   <!-- Preview Image -->
                   <!-- <img class="img-responsive" src="img/portfolio/sl-new-logo.png" alt="Time is an illusion. Lunchtime doubly so."> -->
                
                

                <hr>

                <!-- Post Content -->
                
                <!-- <p class="lead">If there is a lesson to be learned, it is the futility of seeking fulfillment in outer space. We need to judge ourselfs by who we are, not by where we go.</p> -->
                
                
                <p>I originally graduated with a degree in Film/Cinema. Shortly thereafter I enrolled in a MA Multimedia graduate program and worked on several projects to help showcase my creativity.</p>

                <h2> Music Video </h2>

                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/33925861?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="OFFICIAL VIDEO: BUTTONS! &quot;Our Side Walk Ends&quot;"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

                <h2> Demo Reel </h2>

                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/103201514?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Demo Reel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

                <h2> Music Journalism </h2>

                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/37749163?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="EXCLUSIVE INTERVIEW: Rob and Neil of Los Campesinos VIA Eventseekr"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

                <hr>
                
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <!-- <div class="col-md-4"> -->

                <!-- Side Widget Well -->
                <!-- <div class="well">
                    <h4>Note about the Samples</h4>
                    <p></p>
                </div> -->

            <!-- </div> -->

        </div>
        <!-- /.row -->
    </div>
</article>